*{
    padding: 0;
    margin: 0;
}
.container{
    height: 100vh;
    width: 100;
    color: rgb(175, 104, 104);
    background: #9e4592;
    text-align: center;
}
.love , .yes , .no{
    padding-top: 20%;
}
h2{
    font-size: 72px;margin-bottom: 30px;
}
.love span{
    color: #b30919;
}
.love a{
    text-decoration: none;
    background: #eee;
    padding: 5px;
    margin: 5px 10px;
    border: 3px solid #ddd;
    border-radius: 10px;
}
#NO{
    color: red;
}
#YES{
    color:green;
}
img{
    height: 45px;
    width: 45px;
    position: relative;
    animation: heart 4s linear infinite;
}
@keyframes heart {
    0%   {transform:scale(.5); }
    50%  {transform: scale(1.5);}
    100%  {transform: scale(.5);}
  }